body {
    height: auto;
    width: 300px;
    background-color: white;
    position: right;
    font-family: "Copperplate, Papyrus";
    padding: 0px;
    margin: 1px
}

.nav {
    background-color: #7fcaf5;
    overflow: hidden;
    height: 50px;
}
.nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
    font-size: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    text-align: center;
  }

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #022042;
}

/* Position the alert options */
/*
.alerts {
  position: "absolute";
  top: 0px;
  right: 0px;

}
*/

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 14px;
    min-width: 100px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  /* Include the padding and border in an element's total width and height */
  * {
    box-sizing: border-box;
  }
  
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #e1b8e3;
    font-size: 18px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f4d3f5;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #f0b6c8;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  /*allow for scrolling in assignments */
 nav ul{
    height:200px;
    width:300px;
    overflow:hidden;
    overflow-y:scroll;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color:#95d2f5;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color:#95d2f5;
    padding: 20px 40px;
    color: white;
    text-align: center;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }

